.container {
  display: flex;
  flex-direction: column;
}

.button-container {
  margin-bottom: 20px;
}

.image {
  width: 230px;
  height: 230px;
  object-fit: cover;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 10px;
}


/* List view */
.list-view {
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.list-item p {
  margin: 10px;
}

/* Slider view */
.slider-view {
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-item {
  min-width: 250px;
}

/* Card view */
.card-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

.slick-list {
  overflow: hidden;
  padding: 0 !important;
}

.slick-track {
  display: flex !important;
}

.slick-next {
  right: 0;
  top: 42px;
  position: absolute;
}

.active-button {
  background-color: greenyellow;
}