.container {
  display: flex;
  flex-direction: column;
}

.button-container {
  margin-bottom: 20px;
}

.image {
  width: 230px;
  height: 230px;
  object-fit: cover;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 10px;
}


/* List view */
.list-view {
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.list-item p {
  margin: 10px;
}

/* Slider view */
.slider-view {
  overflow: hidden;
}

.slider-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-item {
  min-width: 250px;
}

/* Card view */
.card-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

.slick-list {
  overflow: hidden;
  padding: 0 !important;
}

.slick-track {
  display: flex !important;
}

.slick-slider {
  position: relative;
}

.slick-prev {
  position: absolute;
  top: 40%;
  width: 30px;
  height: 30px;
  background: white;
  justify-content: center;
  display: flex !important;
  border-radius: 20px;
  align-items: center;
  z-index: 10;
}

.slick-next {
  right: 0;
  top: 40%;
  width: 30px;
  height: 30px;
  background: white;
  justify-content: center;
  position: absolute;
  display: flex !important;
  border-radius: 20px;
  align-items: center;
}

.active-button {
  background-color: greenyellow;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}